

#widgets .widget {
  width: 580px;
  border: 1px solid #FED;
  margin: 10px 10px;
  padding: 10px;
}

#widgets .widget .header {
  border-bottom: 1px solid #FED;
  padding-left: 5px;
}

#widgets .widget .content {
  padding: 5px;
}

#widgets .widget .loading {
  color: #ccc;
}

/**
 * github commits
 */
#github .content .commit {
  position: relative;
  display: block;
  border-bottom: 1px solid #FFF;
}

#github .author {
  display: block;
  cursor: pointer;
}

#github .content .commit .infobox {
  display: none;
  position: absolute;

  left: 180px;
  top: 0px;
  width: 400px;
  padding: 5px;
  z-index: 10;

  background-color: #FFF;
  border: 1px solid #FED;
  -webkit-box-shadow: #999 0px 5px 5px;
  -moz-box-shadow: #999 0px 5px 5px;
}

#github .content .commit:hover .infobox {
  display: block;
}

#github .content .commit .infobox .date {
  border-bottom: 1px solid #FED;
  margin-bottom: 5px;
}

#github .content .commit .infobox .message {
  /* Font-family set borrowed from StackOverflow; their font selection is delicious! */
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;

  font-size: 0.9em;
  white-space: normal;

  overflow-y: hidden;
}

/**
 * newsgroup posts
 */
#newsgroup .content .post {
  position: relative;
  display: block;
  border-bottom: 1px solid #FFF;
}

#newsgroup .title {
  display: block;
  cursor: pointer;
}

#newsgroup .content .post .infobox {
  display: none;
  position: absolute;

  left: 180px;
  top: 0px;
  width: 200px;
  padding: 5px;
  z-index: 10;

  background-color: #FFF;
  border: 1px solid #FED;
  -webkit-box-shadow: #999 0px 5px 5px;
  -moz-box-shadow: #999 0px 5px 5px;
}

#newsgroup .content .post:hover .infobox {
  display: block;
}

#newsgroup .content .post .infobox .date {
  border-bottom: 1px solid #FED;
  margin-bottom: 5px;
}

#newsgroup .content .post .infobox .message {
  font-size: 0.9em;
  white-space: normal;

  overflow-y: hidden;
}
